body  {
  background-image: url("zdj/mleko3.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
}
.opis {
		width:95%;
		text-align:center;
		margin:auto;
		display:flex;
		padding:20px
}